// Palette: STAC - Base Chart

$WHITE: rgb(235, 234, 219);
$GREY1: rgb(190, 195, 191);
$GREY2: rgb(172, 177, 175);
$GREY3: rgb(150, 157, 158);
$GREY4: rgb(128, 141, 145);
$GREY5: rgb(114, 122, 124);
$GREY6: rgb(98, 109, 113);
$GREY7: rgb(82, 90, 95);
$GREY8: rgb(59, 66, 71);
$GREY9: rgb(38, 46, 52);
$BLACK: rgb(19, 20, 20);
$PB-1: rgb(255, 197, 215);
$PB-2: rgb(255, 143, 199);
$PB-3: rgb(236, 67, 103);
$PB-4: rgb(216, 27, 61);
$PB-5: rgb(176, 20, 46);
$PB-6: rgb(127, 4, 19);
$B-1: rgb(248, 136, 110);
$B-2: rgb(239, 88, 47);
$B-3: rgb(215, 43, 8);
$B-4: rgb(154, 48, 26);
$B-5: rgb(80, 43, 30);
$OR-1: rgb(255, 161, 82);
$OR-2: rgb(255, 134, 34);
$OR-3: rgb(252, 121, 0);
$OR-4: rgb(245, 100, 0);
$OR-5: rgb(202, 50, 0);
$BO-1: rgb(255, 169, 0);
$BO-2: rgb(250, 135, 0);
$BO-3: rgb(217, 113, 0);
$BO-4: rgb(191, 99, 20);
$BO-5: rgb(169, 73, 30);
$Y-1: rgb(240, 232, 168);
$Y-2: rgb(246, 225, 90);
$Y-3: rgb(243, 206, 0);
$Y-4: rgb(247, 183, 0);
$Y-5: rgb(227, 151, 0);
$Y-6: rgb(172, 118, 16);
$Y-7: rgb(121, 85, 11);
$H-1: rgb(176, 219, 91);
$H-2: rgb(140, 200, 17);
$H-3: rgb(104, 175, 0);
$H-4: rgb(0, 140, 11);
$H-5: rgb(0, 98, 25);
$I-1: rgb(162, 219, 198);
$I-2: rgb(47, 189, 175);
$I-3: rgb(0, 152, 141);
$I-4: rgb(0, 107, 113);
$I-5: rgb(0, 92, 110);
$I-6: rgb(0, 62, 78);
$N-1: rgb(146, 208, 217);
$N-2: rgb(40, 172, 208);
$N-3: rgb(0, 146, 199);
$N-4: rgb(0, 111, 177);
$N-5: rgb(0, 86, 148);
$CB-0: rgb(205, 215, 219);
$CB-1: rgb(180, 202, 222);
$CB-2: rgb(151, 179, 215);
$CB-3: rgb(105, 148, 210);
$CB-4: rgb(46, 105, 189);
$CB-5: rgb(2, 70, 168);
$CB-6: rgb(0, 34, 109);
$P-0: rgb(202, 205, 211);
$P-1: rgb(178, 186, 213);
$P-2: rgb(148, 157, 193);
$P-3: rgb(106, 116, 176);
$P-4: rgb(85, 92, 158);
$P-5: rgb(50, 68, 127);
$V-1: rgb(203, 173, 208);
$V-2: rgb(149, 118, 186);
$V-3: rgb(118, 84, 152);
$V-4: rgb(102, 67, 118);
$V-5: rgb(73, 41, 88);
$V-6: rgb(51, 29, 70);
$A-1: rgb(231, 176, 203);
$A-2: rgb(219, 123, 171);
$A-3: rgb(203, 89, 147);
$A-4: rgb(177, 54, 116);
$A-5: rgb(147, 25, 83);
$RP-1: rgb(243, 176, 179);
$RP-2: rgb(234, 142, 150);
$RP-3: rgb(214, 108, 123);
$RP-4: rgb(162, 68, 83);
$RP-5: rgb(102, 43, 47);
$R-1: rgb(247, 189, 158);
$R-1a: rgb(233, 177, 153);
$R-2: rgb(218, 147, 127);
$R-3: rgb(190, 113, 96);
$R-4: rgb(138, 85, 75);
$R-5: rgb(103, 65, 54);
$CR-0: rgb(227, 187, 154);
$CR-1: rgb(211, 151, 114);
$CR-2: rgb(189, 121, 81);
$CR-3: rgb(159, 87, 26);
$CR-4: rgb(131, 76, 24);
$CR-5: rgb(106, 58, 25);
$CR-6: rgb(72, 45, 25);
$D-1: rgb(248, 198, 148);
$D-2: rgb(249, 179, 114);
$D-3: rgb(227, 159, 91);
$D-4: rgb(190, 124, 61);
$D-5: rgb(158, 102, 45);
$C-1: rgb(246, 218, 162);
$C-1a: rgb(232, 194, 132);
$C-2: rgb(219, 173, 113);
$C-3: rgb(200, 141, 73);
$C-4: rgb(173, 123, 67);
$C-5: rgb(144, 99, 48);
$YR-1: rgb(205, 192, 166);
$YR-2: rgb(178, 161, 131);
$YR-3: rgb(157, 135, 106);
$YR-4: rgb(112, 92, 71);
$YR-5: rgb(89, 71, 54);
$E-0: rgb(236, 219, 160);
$E-1: rgb(242, 210, 121);
$E-2: rgb(202, 166, 45);
$E-3: rgb(166, 134, 0);
$E-4: rgb(118, 100, 40);
$E-5: rgb(92, 83, 40);
$E-6: rgb(76, 75, 50);
$GO-1: rgb(159, 177, 116);
$GO-2: rgb(107, 133, 60);
$GO-3: rgb(77, 104, 43);
$GO-4: rgb(49, 78, 33);
$GO-5: rgb(33, 60, 31);
$GO-6: rgb(30, 43, 28);
$BG-1: rgb(216, 229, 213);
$BG-2: rgb(158, 189, 181);
$BG-3: rgb(108, 144, 139);
$BG-4: rgb(70, 106, 102);
$BG-5: rgb(33, 71, 73);
$O-1: rgb(132, 187, 192);
$O-2: rgb(80, 155, 167);
$O-3: rgb(72, 121, 138);
$O-4: rgb(68, 102, 113);
$O-5: rgb(31, 58, 72);
$NR-1: rgb(133, 163, 194);
$NR-2: rgb(92, 131, 172);
$NR-3: rgb(63, 103, 144);
$NR-4: rgb(16, 66, 110);
$NR-5: rgb(13, 50, 90);
$NR-6: rgb(17, 37, 61);
$Q-1: rgb(187, 173, 198);
$Q-2: rgb(159, 140, 175);
$Q-3: rgb(116, 97, 146);
$Q-4: rgb(89, 72, 111);
$Q-5: rgb(73, 57, 96);
$Q-6: rgb(60, 50, 79);
$X-1: rgb(105, 151, 154);
$X-2: rgb(72, 124, 137);
$X-4: rgb(45, 76, 93);
$X-6: rgb(30, 49, 56);
$X-7: rgb(29, 36, 41);
$X-11: rgb(67, 59, 49);
$X-12: rgb(221, 133, 65);
$X-13: rgb(4, 89, 112);
$X-14: rgb(100, 34, 22);
$X-16: rgb(253, 202, 58);
$X-17: rgb(251, 209, 91);
$X-18: rgb(245, 219, 132);
$X-19: rgb(239, 216, 198);
$X-20: rgb(246, 204, 187);
$X-21: rgb(184, 198, 148);
$X-22: rgb(210, 218, 183);
$X-23: rgb(200, 213, 214);
$X-24: rgb(183, 217, 216);
$X-25: rgb(130, 196, 218);
$X-26: rgb(212, 205, 183);
$X-27: rgb(201, 22, 27);
$X-28: rgb(174, 0, 2);
$X-29: rgb(47, 122, 58);
$X-30: rgb(21, 86, 39);
$S-1: rgb(74, 66, 122);

// Palette: STAC A-Chart
$A-1real: rgb(98, 67, 41);
$A-2real: rgb(132, 100, 65);
$A-3real: rgb(52, 98, 106);
$A-4real: rgb(99, 74, 43);
$A-5real: rgb(143, 145, 52);
$A-6real: rgb(220, 166, 123);
$A-7real: rgb(141, 23, 7);
$A-8real: rgb(208, 192, 131);
$A-9real: rgb(82, 60, 32);
$A-10real: rgb(255, 183, 90);
$A-11real: rgb(0, 99, 117);
$A-12real: rgb(114, 197, 159);
$A-13real: rgb(199, 201, 195);
$A-14real: rgb(0, 161, 186);
$A-15real: rgb(46, 103, 160);
$A-16real: rgb(0, 105, 170);
$A-17real: rgb(242, 225, 177);
$A-18real: rgb(123, 84, 35);
$A-19real: rgb(138, 53, 101);
$A-20real: rgb(66, 94, 29);
$A-21real: rgb(251, 214, 98);
$A-22real: rgb(168, 83, 62);
$A-23real: rgb(204, 37, 18);
$A-24real: rgb(182, 159, 129);
$A-25real: rgb(189, 173, 108);
$A-26real: rgb(179, 16, 20);
$A-27real: rgb(188, 142, 57);
$A-28real: rgb(206, 140, 0);
$A-29real: rgb(188, 192, 188);
$A-30real: rgb(255, 189, 40);
$A-31real: rgb(223, 174, 149);
$A-32real: rgb(200, 137, 1);
$A-33real: rgb(171, 176, 174);
$A-34real: rgb(180, 209, 209);
$A-35real: rgb(0, 153, 51);
$A-36real: rgb(124, 106, 149);
$A-37real: rgb(80, 172, 198);
$A-38real: rgb(175, 104, 152);
$A-39real: rgb(228, 156, 185);
$A-40real: rgb(191, 194, 0);
$A-41real: rgb(201, 48, 58);
$A-42real: rgb(163, 117, 89);
$A-43real: rgb(154, 64, 40);
$A-44real: rgb(216, 191, 130);
$A-45real: rgb(224, 184, 143);
$A-46real: rgb(114, 90, 164);
$A-47real: rgb(143, 138, 179);


// Palette: STAC X-Chart
$X-1real: rgb(117, 155, 156);
$X-2real: rgb(86, 131, 139);
$X-3real: rgb(55, 104, 115);
$X-4real: rgb(51, 88, 102);
$X-5real: rgb(39, 67, 81);
$X-6real: rgb(34, 53, 60);
$X-7real: rgb(33, 40, 44);
$X-8real: rgb(99, 40, 86);
$X-9real: rgb(109, 50, 96);
$X-10real: rgb(255, 139, 54);
$X-11real: rgb(67, 60, 51);
$X-12real: rgb(225, 138, 74);
$X-13real: rgb(4, 94, 113);
$X-14real: rgb(100, 39, 35);
$X-15real: rgb(191, 227, 139);
$X-16real: rgb(254, 207, 72);
$X-17real: rgb(255, 215, 101);
$X-18real: rgb(252, 224, 143);
$X-19real: rgb(243, 229, 208);
$X-20real: rgb(246, 213, 195);
$X-21real: rgb(188, 203, 153);
$X-22real: rgb(215, 223, 189);
$X-23real: rgb(207, 218, 220);
$X-24real: rgb(197, 225, 222);
$X-25real: rgb(145, 206, 219);
$X-26real: rgb(217, 213, 189);
$X-27real: rgb(202, 29, 39);
$X-28real: rgb(176, 6, 24);
$X-29real: rgb(42, 131, 59);
$X-30real: rgb(13, 95, 44);
$X-31real: rgb(231, 193, 161);
$X-32real: rgb(214, 169, 107);
$X-33real: rgb(74, 43, 47);
$X-34real: rgb(220, 77, 60);
$X-35real: rgb(144, 51, 55);
$X-36real: rgb(119, 54, 65);
$X-37real: rgb(84, 55, 57);
$X-38real: rgb(65, 54, 53);
$X-39real: rgb(222, 199, 217);
$X-40real: rgb(234, 220, 222);
$X-41real: rgb(21, 40, 54);
$X-42real: rgb(213, 188, 158);
$X-43real: rgb(58, 46, 53);
$X-51real: rgb(106, 132, 87);
$X-52real: rgb(0, 64, 90);
$X-53real: rgb(0, 62, 122);
$X-54real: rgb(112, 116, 138);
$X-55real: rgb(86, 89, 111);
$X-56real: rgb(60, 63, 79);
$X-57real: rgb(0, 79, 63);
$X-58real: rgb(189, 164, 157);
$X-59real: rgb(146, 114, 100);
$X-60real: rgb(190, 178, 166);
$X-61real: rgb(139, 116, 112);
$X-62real: rgb(180, 143, 0);
$X-63real: rgb(123, 106, 59);
$X-64real: rgb(160, 121, 72);
$X-65real: rgb(249, 181, 164);
$X-66real: rgb(250, 189, 159);
$X-67real: rgb(246, 179, 127);
$X-68real: rgb(180, 200, 189);
$X-69real: rgb(255, 171, 67);

// Palette: Taiyo-Shikisai Chart
$taiyo10: rgb(55, 61, 68);
$taiyo11: rgb(250, 206, 190);
$taiyo12: rgb(247, 216, 197);
$taiyo13: rgb(248, 213, 187);
$taiyo14: rgb(245, 220, 198);
$taiyo20: rgb(75, 83, 90);
$taiyo21: rgb(59, 23, 15);
$taiyo30: rgb(84, 94, 101);
$taiyo40: rgb(103, 112, 120);
$taiyo42: rgb(90, 52, 43);
$taiyo45: rgb(149, 63, 45);
$taiyo46: rgb(180, 74, 19);
$taiyo50: rgb(114, 125, 133);
$taiyo52: rgb(79, 53, 47);
$taiyo60: rgb(126, 137, 145);
$taiyo70: rgb(139, 150, 158);
$taiyo80: rgb(164, 173, 176);
$taiyo87: rgb(216, 190, 94);
$taiyo88: rgb(200, 177, 79);
$taiyo89: rgb(205, 155, 47);
$taiyo90: rgb(185, 194, 192);
$taiyo95: rgb(194, 203, 202);
$taiyo100: rgb(209, 213, 206);
$taiyo821: rgb(231, 37, 0);
$taiyo871: rgb(201, 0, 95);
$taiyo90G: rgb(166, 180, 190);
$taiyo99G: rgb(146, 150, 169);
$taiyo100G: rgb(139, 157, 179);
$taiyo180G: rgb(58, 63, 82);
$taiyo200G: rgb(116, 119, 142);
$taiyo300G: rgb(90, 92, 112);
$taiyo400G: rgb(67, 65, 90);
$taiyo500G: rgb(51, 52, 70);
$taiyo26M: rgb(169, 84, 67);
$taiyo30M: rgb(125, 55, 49);
$taiyo41M: rgb(50, 35, 37);
$taiyo41-0M: rgb(34, 29, 30);
$taiyo43M: rgb(94, 62, 52);
$taiyo44M: rgb(102, 61, 45);
$taiyo45M: rgb(138, 84, 62);
$taiyo46M: rgb(163, 95, 69);
$taiyo63M: rgb(107, 82, 63);
$taiyo65M: rgb(120, 88, 64);
$taiyo67M: rgb(159, 112, 72);
$taiyo69M: rgb(199, 158, 105);
$taiyo89M: rgb(192, 160, 90);
$taiyo90M: rgb(139, 116, 62);
$taiyo100M: rgb(180, 146, 75);
$taiyo144M: rgb(0, 106, 106);
$taiyo165M: rgb(40, 128, 145);
$taiyo166M: rgb(0, 116, 139);
$taiyo167M: rgb(34, 96, 111);
$taiyo56N: rgb(183, 118, 85);
$taiyo66N: rgb(200, 144, 112);
$taiyo80N: rgb(206, 141, 109);
$taiyo32R: rgb(108, 80, 76);
$taiyoA-10: rgb(232, 185, 199);
$taiyoA-12: rgb(224, 157, 181);
$taiyoA-20: rgb(215, 134, 170);
$taiyoA-30: rgb(192, 92, 141);
$taiyoA-40: rgb(174, 53, 120);
$aA-2: rgb(151, 59, 53);
$aA-4: rgb(209, 166, 80);
$aA-5: rgb(162, 115, 64);
$aA-6: rgb(181, 181, 69);
$aA-7: rgb(0, 166, 186);
$aA-10: rgb(144, 98, 67);
$AA-1: rgb(215, 177, 197);
$AA-2: rgb(211, 144, 174);
$AA-3: rgb(202, 142, 178);
$AA-4: rgb(180, 111, 154);
$AA-5: rgb(195, 50, 120);
$AA-6: rgb(115, 25, 73);
$AA-7: rgb(144, 38, 95);
$AF-1: rgb(215, 113, 88);
$AG-3: rgb(0, 128, 82);
$AG-4: rgb(0, 147, 91);
$ANR-2: rgb(25, 69, 114);
$AO-1: rgb(98, 129, 165);
$AO-2: rgb(70, 96, 129);
$AP-2: rgb(226, 59, 132);
$AP-3: rgb(234, 80, 156);
$AP-4: rgb(234, 100, 164);
$AP-5: rgb(251, 159, 201);
$AP-10: rgb(101, 71, 120);
$AP-40: rgb(106, 78, 167);
$AP-60: rgb(156, 115, 180);
$AP-80: rgb(208, 173, 203);
$APB-80: rgb(194, 192, 210);
$AR-10: rgb(185, 70, 77);
$AR-20: rgb(146, 30, 44);
$AW: rgb(223, 231, 214);
$B-1: rgb(243, 127, 108);
$B-2: rgb(238, 92, 67);
$B-4: rgb(233, 70, 54);
$B-5: rgb(223, 54, 37);
$B-5A: rgb(75, 41, 34);
$B-6: rgb(122, 52, 44);
$B-7: rgb(89, 40, 32);
$B-9: rgb(108, 52, 40);
$B-10: rgb(0, 61, 118);
$B-15: rgb(0, 72, 129);
$B-20: rgb(0, 110, 170);
$B-30: rgb(0, 131, 183);
$B-32: rgb(246, 176, 144);
$B-33: rgb(251, 171, 144);
$B-34: rgb(248, 185, 161);
$B-35: rgb(251, 155, 127);
$B-36: rgb(0, 73, 158);
$B-37: rgb(0, 94, 174);
$B-40: rgb(0, 152, 201);
$B-60: rgb(26, 169, 208);
$B-70M: rgb(113, 148, 159);
$B-80: rgb(109, 192, 213);
$B-81: rgb(61, 40, 39);
$B-90: rgb(160, 211, 219);
$B-95: rgb(185, 219, 219);
$BB: rgb(0, 0, 0);
$BC-0: rgb(245, 201, 172);
$BC-01: rgb(226, 210, 175);
$BC-1: rgb(244, 213, 161);
$BC-2: rgb(250, 190, 160);
$BC-3: rgb(250, 166, 141);
$BC-9: rgb(250, 174, 143);
$BC-10: rgb(215, 175, 151);
$BC-20: rgb(246, 188, 158);
$BC-45: rgb(199, 172, 148);
$BC-46: rgb(0, 0, 0);
$BC-47: rgb(186, 148, 121);
$BC-55: rgb(171, 131, 103);
$BC-57: rgb(169, 126, 99);
$BF-40: rgb(157, 97, 52);
$BG-5: rgb(22, 72, 76);
$BG-6: rgb(8, 62, 64);
$BG-14: rgb(123, 173, 193);
$BG-15: rgb(0, 162, 171);
$BG-15M: rgb(0, 70, 75);
$BG-16: rgb(0, 137, 152);
$BG-20: rgb(0, 100, 111);
$BG-20M: rgb(59, 87, 92);
$BG-40: rgb(0, 129, 118);
$BG-40M: rgb(85, 117, 118);
$BG-45: rgb(0, 147, 149);
$BG-50: rgb(0, 139, 123);
$BG-50M: rgb(94, 131, 127);
$BG-60: rgb(0, 159, 135);
$BG-60M: rgb(110, 148, 143);
$BG-70: rgb(0, 167, 152);
$BG-70M: rgb(124, 164, 160);
$BG-80: rgb(67, 188, 167);
$BG-80m: rgb(152, 190, 179);
$BG-85: rgb(90, 192, 190);
$BG-90: rgb(173, 221, 196);
$BG-90m: rgb(172, 203, 189);
$BG-95: rgb(165, 217, 205);
$BLACK: rgb(15, 16, 17);
$BL-2: rgb(0, 118, 188);
$BL-4: rgb(99, 160, 191);
$BO-1taiyo: rgb(255, 165, 0);
$BO-2taiyo: rgb(246, 134, 11);
$BO-3taiyo: rgb(209, 115, 42);
$BO-4taiyo: rgb(188, 100, 52);
$BO-5taiyo: rgb(170, 64, 36);
$BO-6taiyo: rgb(169, 77, 35);
$BS-01: rgb(122, 199, 205);
$BS-1: rgb(65, 180, 198);
$BS-2: rgb(0, 143, 170);
$BS-3: rgb(0, 133, 158);
$BS-4: rgb(0, 96, 126);
$BU-2: rgb(52, 146, 205);
$BU-4: rgb(111, 159, 193);
$BW: rgb(205, 227, 207);
$C-0: rgb(231, 212, 175);
$C-1A: rgb(232, 202, 158);
$C-3: rgb(185, 128, 75);
$C-4: rgb(167, 111, 69);
$C-5: rgb(139, 82, 58);
$C-5A: rgb(141, 92, 50);
$C-6: rgb(119, 75, 55);
$C-15: rgb(58, 136, 147);
$C-32: rgb(221, 187, 137);
$C-35: rgb(224, 159, 108);
$C-37: rgb(204, 157, 105);
$C-43: rgb(201, 151, 90);
$C-50: rgb(135, 82, 41);
$C-53: rgb(210, 173, 116);
$C-54: rgb(192, 143, 96);
$C-60: rgb(135, 75, 28);
$C-70: rgb(118, 68, 32);
$CB-1: rgb(167, 192, 213);
$CB-2: rgb(144, 178, 214);
$CB-3: rgb(94, 149, 208);
$CB-4: rgb(45, 109, 189);
$CB-5: rgb(0, 55, 156);
$CB-6: rgb(0, 31, 120);
$CB-10: rgb(35, 50, 76);
$CB-20: rgb(0, 67, 164);
$CB-30: rgb(20, 89, 183);
$CB-40: rgb(63, 119, 198);
$CB-50: rgb(88, 138, 201);
$CB-60: rgb(118, 159, 212);
$CB-80: rgb(153, 183, 211);
$CB-90: rgb(179, 200, 215);
$CFL-1: rgb(211, 154, 131);
$CFL-2: rgb(158, 110, 95);
$CR-0: rgb(207, 170, 140);
$CR-1: rgb(210, 146, 114);
$CR-2: rgb(184, 113, 79);
$CR-5: rgb(91, 51, 36);
$CR-25: rgb(156, 109, 84);
$CR-30: rgb(155, 87, 44);
$D-0: rgb(229, 203, 169);
$D-04: rgb(169, 109, 0);
$D-1: rgb(224, 169, 127);
$D-1A: rgb(227, 171, 88);
$D-2: rgb(255, 130, 36);
$D-3: rgb(189, 114, 40);
$D-4: rgb(162, 109, 64);
$D-4A: rgb(197, 117, 63);
$D-5A: rgb(218, 147, 50);
$D-6: rgb(105, 79, 50);
$D-8: rgb(70, 63, 53);
$D-20: rgb(218, 155, 102);
$D-30: rgb(205, 143, 92);
$D-40: rgb(187, 116, 72);
$D-50: rgb(144, 94, 61);
$E-1: rgb(224, 194, 123);
$E-2: rgb(207, 153, 58);
$E-2A: rgb(196, 157, 53);
$E-3: rgb(156, 127, 44);
$E-4: rgb(155, 119, 55);
$E-4A: rgb(116, 98, 42);
$E-5: rgb(89, 77, 49);
$E-6: rgb(126, 104, 61);
$E-30: rgb(208, 160, 54);
$E-34: rgb(255, 182, 72);
$E-60: rgb(69, 63, 35);
$E-70: rgb(46, 47, 34);
$E-80: rgb(39, 41, 37);
$EB-1: rgb(122, 121, 118);
$EB-2: rgb(91, 90, 90);
$EK-17: rgb(249, 179, 155);
$EK-33: rgb(237, 172, 127);
$EK-44: rgb(195, 167, 133);
$EK-45: rgb(217, 182, 153);
$ET-1: rgb(151, 152, 148);
$F: rgb(236, 221, 160);
$F-1: rgb(255, 187, 29);
$F-2: rgb(255, 207, 0);
$F-30: rgb(240, 230, 187);
$F-31: rgb(241, 234, 177);
$F-32: rgb(246, 231, 120);
$FD-80: rgb(136, 97, 53);
$FG-90: rgb(58, 106, 82);
$G-2: rgb(160, 205, 59);
$G-3: rgb(111, 151, 45);
$G-4A: rgb(94, 167, 115);
$G-5: rgb(129, 161, 43);
$G-6: rgb(78, 131, 97);
$G-7: rgb(212, 235, 181);
$G-8: rgb(149, 179, 143);
$G-9: rgb(114, 133, 103);
$G-10: rgb(50, 66, 49);
$G-10B: rgb(34, 44, 41);
$G-11: rgb(0, 51, 45);
$G-20: rgb(0, 81, 67);
$G-40: rgb(0, 116, 76);
$G-60: rgb(0, 157, 116);
$G-80: rgb(93, 195, 137);
$G-90: rgb(139, 213, 162);
$G-90A: rgb(159, 221, 176);
$GA-1: rgb(158, 180, 23);
$GB-1: rgb(120, 112, 116);
$GG-6: rgb(0, 0, 0);
$GH-1: rgb(91, 83, 90);
$GH-2: rgb(67, 61, 68);
$GM-1: rgb(180, 172, 168);
$GM-2: rgb(139, 155, 116);
$GM-5: rgb(89, 104, 59);
$GO-04: rgb(59, 84, 51);
$GO-1: rgb(161, 172, 121);
$GO-2: rgb(118, 135, 79);
$GO-3: rgb(91, 103, 61);
$GO-4: rgb(63, 81, 53);
$GO-5: rgb(39, 62, 44);
$GRB-1: rgb(166, 199, 220);
$GT-1: rgb(149, 145, 150);
$GT-2: rgb(16, 183, 135);
$GY-3: rgb(110, 132, 53);
$GY-4: rgb(116, 144, 67);
$GY-11: rgb(95, 112, 81);
$GY-12: rgb(76, 90, 66);
$GY-30: rgb(77, 105, 72);
$GY-40: rgb(106, 113, 66);
$GY-60: rgb(72, 172, 50);
$GY-80: rgb(128, 197, 55);
$GY-90: rgb(183, 223, 128);
$H-1: rgb(185, 217, 95);
$H-2: rgb(131, 193, 8);
$H-3: rgb(95, 175, 8);
$HB: rgb(244, 210, 182);
$I-5: rgb(0, 137, 33);
$I-6: rgb(0, 97, 18);
$I-7: rgb(35, 81, 42);
$LO-1: rgb(220, 140, 88);
$M-2: rgb(112, 51, 81);
$M-3: rgb(83, 42, 63);
$M-20: rgb(183, 105, 141);
$M-126: rgb(155, 79, 113);
$M-127: rgb(121, 72, 85);
$M-128: rgb(102, 58, 69);
$MS-10: rgb(0, 65, 78);
$MS-20: rgb(0, 39, 48);
$N-1: rgb(146, 206, 210);
$N-3: rgb(50, 171, 209);
$N-4: rgb(0, 151, 202);
$N-6: rgb(0, 140, 200);
$N-8: rgb(0, 94, 159);
$N-10: rgb(0, 71, 99);
$N-12: rgb(0, 51, 71);
$NP-2: rgb(168, 166, 195);
$NR-0: rgb(37, 49, 64);
$NR-01: rgb(30, 35, 42);
$NR-1: rgb(48, 62, 98);
$NR-2: rgb(67, 81, 116);
$NR-3: rgb(79, 96, 138);
$NR-4: rgb(86, 103, 138);
$NR-5: rgb(120, 146, 175);
$NR-6: rgb(137, 160, 187);
$NR-11: rgb(52, 63, 105);
$NR-12: rgb(44, 51, 82);
$NRQ-9: rgb(34, 38, 64);
$O-01: rgb(158, 207, 202);
$O-1: rgb(137, 186, 214);
$O-10: rgb(135, 186, 187);
$O-20: rgb(94, 159, 170);
$O-30: rgb(91, 128, 144);
$O-40: rgb(82, 105, 119);
$O-50: rgb(62, 76, 88);
$OM-4: rgb(227, 105, 76);
$OR-1: rgb(255, 164, 94);
$OR-2: rgb(253, 138, 60);
$OR-3: rgb(254, 123, 38);
$OR-4: rgb(216, 96, 37);
$OR-5: rgb(188, 60, 5);
$P-0: rgb(199, 203, 213);
$P-1: rgb(176, 185, 210);
$P-2: rgb(145, 166, 206);
$P-4: rgb(111, 125, 189);
$P-6: rgb(104, 114, 180);
$P-7: rgb(220, 202, 209);
$P-8: rgb(71, 78, 151);
$P-10: rgb(102, 88, 132);
$P-20: rgb(93, 17, 109);
$P-30: rgb(111, 62, 142);
$P-40: rgb(68, 65, 160);
$P-50: rgb(94, 97, 180);
$P-60: rgb(126, 120, 189);
$P-70: rgb(147, 142, 196);
$P-80: rgb(205, 179, 208);
$P-90: rgb(217, 201, 213);
$PAN-1: rgb(147, 185, 189);
$PAN-2: rgb(102, 149, 157);
$taiyoPB-1: rgb(249, 205, 212);
$taiyoPB-4: rgb(201, 15, 57);
$taiyoPB-5: rgb(194, 16, 53);
$taiyoPB-6: rgb(148, 0, 26);
$taiyoPB-20: rgb(48, 83, 167);
$taiyoPB-40: rgb(98, 110, 175);
$taiyoPB-60: rgb(125, 136, 193);
$taiyoPB-70: rgb(147, 158, 201);
$taiyoPB-80: rgb(178, 186, 213);
$taiyoPB-90: rgb(189, 196, 213);
$PE-1: rgb(191, 119, 126);
$PE-2: rgb(153, 93, 98);
$PF-1: rgb(172, 117, 56);
$PFL-1: rgb(199, 150, 136);
$PFL-2: rgb(169, 115, 105);
$PN-1: rgb(184, 129, 122);
$PN-2: rgb(144, 102, 97);
$PPS-1: rgb(184, 73, 97);
$PPS-2: rgb(133, 72, 81);
$PS-1: rgb(198, 71, 51);
$PS-2: rgb(147, 74, 64);
$Q-0: rgb(203, 193, 203);
$Q-2A: rgb(169, 161, 186);
$Q-3: rgb(151, 138, 165);
$Q-5: rgb(123, 107, 143);
$Q-7: rgb(64, 53, 95);
$Q-9: rgb(53, 43, 80);
$Q-10: rgb(190, 173, 187);
$Q-20: rgb(168, 145, 170);
$Q-25: rgb(145, 122, 159);
$Q-30: rgb(120, 98, 135);
$Q-40: rgb(97, 75, 109);
$Q-50: rgb(86, 62, 102);
$R-1: rgb(176, 32, 54);
$R-1A: rgb(237, 164, 142);
$R-2: rgb(209, 155, 183);
$R-2A: rgb(232, 76, 61);
$R-3: rgb(199, 23, 55);
$R-4: rgb(180, 109, 163);
$R-5: rgb(162, 0, 18);
$R-6: rgb(117, 48, 102);
$R-7: rgb(224, 57, 82);
$R-8: rgb(87, 41, 79);
$R-10: rgb(75, 40, 43);
$R-10A: rgb(113, 52, 51);
$R-11: rgb(39, 23, 17);
$R-17: rgb(212, 175, 133);
$R-20: rgb(115, 0, 6);
$R-20A: rgb(123, 0, 21);
$R-20m: rgb(102, 65, 63);
$R-25: rgb(144, 0, 0);
$R-26: rgb(85, 26, 18);
$R-30: rgb(134, 37, 46);
$R-30A: rgb(191, 8, 39);
$R-40: rgb(220, 50, 54);
$R-40m: rgb(140, 82, 74);
$R-50: rgb(241, 98, 108);
$R-51: rgb(188, 30, 71);
$R-55m: rgb(182, 100, 88);
$R-60: rgb(220, 59, 98);
$R-70: rgb(233, 80, 74);
$R-70m: rgb(218, 136, 116);
$R-75: rgb(252, 129, 103);
$R-75m: rgb(217, 143, 123);
$R-76: rgb(202, 186, 175);
$R-77: rgb(183, 151, 145);
$R-78: rgb(177, 158, 147);
$R-79: rgb(147, 105, 90);
$R-80: rgb(233, 100, 122);
$R-100: rgb(249, 162, 138);
$R-81: rgb(92, 48, 77);
$R-82: rgb(139, 111, 109);
$R-83: rgb(122, 84, 75);
$R-85m: rgb(249, 175, 153);
$R-89: rgb(133, 99, 100);
$R-90: rgb(250, 143, 158);
$R-90m: rgb(250, 189, 168);
$R-91: rgb(115, 81, 79);
$RB-1: rgb(167, 176, 130);
$RB-2: rgb(128, 129, 102);
$RP-0: rgb(237, 190, 184);
$RP-1: rgb(233, 174, 175);
$RP-2: rgb(234, 146, 149);
$RP-3: rgb(221, 110, 118);
$RP-5: rgb(98, 33, 44);
$RP-10: rgb(61, 30, 42);
$RP-20: rgb(99, 28, 62);
$RP-20m: rgb(81, 40, 47);
$RP-30m: rgb(111, 57, 62);
$RP-40: rgb(180, 69, 133);
$RP-40m: rgb(154, 74, 83);
$RP-60: rgb(226, 100, 166);
$RP-60m: rgb(216, 107, 115);
$RP-70: rgb(0, 0, 0);
$RP-80: rgb(255, 165, 207);
$RP-85: rgb(253, 194, 214);
$RP-90: rgb(254, 189, 214);
$RP-95: rgb(254, 204, 215);
$RP-99: rgb(245, 220, 216);
$RP-100: rgb(240, 228, 218);
$RR-0: rgb(248, 176, 179);
$RR-1: rgb(251, 150, 170);
$RR-2: rgb(238, 109, 137);
$RR-3: rgb(232, 83, 120);
$RR-4: rgb(203, 32, 84);
$RR-5: rgb(179, 0, 60);
$S-0: rgb(248, 198, 163);
$S-01: rgb(250, 192, 169);
$S-1: rgb(254, 175, 151);
$S-2: rgb(255, 176, 140);
$S-3: rgb(254, 167, 128);
$S-6: rgb(254, 203, 116);
$S-7: rgb(246, 165, 131);
$S-8: rgb(255, 203, 71);
$S-20: rgb(252, 177, 137);
$S-40: rgb(220, 131, 82);
$S-45: rgb(191, 123, 80);
$SB-0: rgb(179, 151, 144);
$SB-01: rgb(204, 182, 169);
$SB-20: rgb(152, 119, 116);
$SB-40: rgb(136, 99, 99);
$SB-60: rgb(104, 72, 77);
$SB-80: rgb(78, 56, 58);
$SF: rgb(239, 231, 204);
$SF-4: rgb(224, 53, 61);
$SM-1: rgb(255, 191, 144);
$SY-3: rgb(241, 121, 120);
$SY-4: rgb(238, 91, 95);
$T-4: rgb(94, 126, 131);
$T-16: rgb(0, 159, 160);
$TB-1: rgb(215, 112, 63);
$TB-2: rgb(149, 81, 56);
$TD-1: rgb(156, 155, 136);
$TM-1: rgb(215, 199, 162);
$TPB-1: rgb(215, 157, 72);
$TT-1: rgb(187, 173, 143);
$TT-2: rgb(152, 145, 121);
$V-1: rgb(206, 180, 209);
$V-1A: rgb(192, 158, 199);
$V-2: rgb(159, 114, 181);
$V-3: rgb(129, 90, 165);
$V-4: rgb(124, 72, 134);
$V-5: rgb(77, 46, 99);
$V-6: rgb(56, 39, 88);
$WHITEtaiyo: rgb(237, 235, 219);
$taiyoX-1: rgb(112, 153, 162);
$taiyoX-2: rgb(87, 128, 140);
$X-2m: rgb(66, 126, 139);
$taiyoX-3: rgb(82, 111, 122);
$taiyoX-4: rgb(70, 89, 104);
$taiyoX-4m: rgb(40, 83, 95);
$taiyoX-5: rgb(52, 72, 87);
$taiyoX-6: rgb(44, 59, 70);
$taiyoX-7: rgb(34, 43, 55);
$taiyoX-8: rgb(105, 33, 82);
$taiyoX-13: rgb(0, 90, 112);
$taiyoX-14: rgb(93, 37, 33);
$taiyoX-16: rgb(255, 197, 28);
$taiyoX-18: rgb(250, 219, 130);
$taiyoX-19: rgb(243, 202, 174);
$taiyoX-20: rgb(249, 202, 179);
$taiyoX-21: rgb(184, 195, 139);
$taiyoX-27: rgb(213, 47, 58);
$taiyoX-28: rgb(184, 0, 29);
$taiyoX-29: rgb(66, 121, 72);
$taiyoX-30: rgb(80, 147, 87);
$taiyoX-31: rgb(216, 172, 141);
$taiyoX-33: rgb(68, 32, 46);
$taiyoX-37: rgb(85, 48, 48);
$taiyoX-38: rgb(64, 48, 48);
$XR-5: rgb(152, 79, 137);
$XR-35: rgb(82, 64, 64);
$Y-3: rgb(228, 144, 80);
$Y-3A: rgb(249, 203, 0);
$Y-4: rgb(254, 189, 0);
$Y-5A: rgb(222, 173, 65);
$Y-6: rgb(0, 0, 0);
$Y-7: rgb(137, 96, 47);
$Y-8: rgb(148, 85, 50);
$Y-9: rgb(59, 55, 43);
$Y-10: rgb(67, 59, 51);
$Y-20: rgb(83, 68, 53);
$Y-28: rgb(70, 67, 63);
$Y-40: rgb(121, 93, 64);
$Y-47: rgb(82, 81, 70);
$Y-50: rgb(241, 154, 0);
$Y-60: rgb(183, 143, 40);
$Y-70: rgb(221, 178, 0);
$Y-80: rgb(200, 165, 67);
$Y-85: rgb(255, 182, 0);
$Y-90: rgb(252, 205, 0);
$Y-91: rgb(194, 166, 96);
$Y-92: rgb(205, 177, 100);
$Y-95: rgb(240, 224, 0);
$Y-136: rgb(117, 102, 53);
$YNR-20: rgb(64, 61, 62);
$YR-0: rgb(223, 205, 183);
$YR-1: rgb(199, 176, 151);
$YR-2: rgb(179, 153, 128);
$YR-3A: rgb(155, 137, 115);
$YR-5: rgb(83, 61, 49);
$YR-5m: rgb(57, 49, 47);
$YR-10m: rgb(73, 60, 53);
$YR-15: rgb(116, 77, 57);
$YR-15m: rgb(64, 50, 41);
$YR-20: rgb(97, 65, 51);
$YR-20m: rgb(95, 71, 61);
$YR-25m: rgb(85, 64, 52);
$YR-28: rgb(77, 67, 64);
$YR-30: rgb(173, 79, 53);
$YR-40: rgb(171, 94, 55);
$YR-40m: rgb(119, 87, 71);
$YR-47: rgb(91, 83, 78);
$YR-50: rgb(169, 107, 70);
$YR-50m: rgb(133, 103, 83);
$YR-60: rgb(202, 103, 55);
$YR-60m: rgb(156, 123, 100);
$YR-64: rgb(238, 88, 27);
$YR-65: rgb(245, 103, 0);
$YR-70m: rgb(182, 135, 94);
$YR-75: rgb(241, 139, 53);
$YR-75m: rgb(195, 135, 74);
$YR-80: rgb(255, 163, 80);
$YR-80m: rgb(211, 168, 117);
$YR-85: rgb(146, 132, 120);
$YR-90: rgb(226, 185, 129);
$YR-90m: rgb(221, 185, 146);
$YR-92m: rgb(224, 189, 147);
$YR-95: rgb(255, 183, 107);
$YR-95m: rgb(218, 194, 158);
$YR-100: rgb(50, 44, 41);
$YR-900: rgb(62, 57, 55);
$YR-A: rgb(133, 117, 103);
$YR-B: rgb(121, 105, 96);
$YR-C: rgb(95, 83, 77);
$YR-D: rgb(77, 72, 70);
$YR-E: rgb(127, 128, 115);
$YR-F: rgb(105, 102, 94);
$YR-M: rgb(57, 52, 47);
$YY-10: rgb(55, 56, 56);
