// De 09-102

textarea {

    border: 1px solid $dark-teal;
    font-size: 1rem;
    height: 50vh;
    width: calc(100% - 100px);
    outline: none;
    padding: 10px;
    margin: 20px 20px;

}


.select-element {

    border: 1px dotted $dark-teal;
    font-size: 0.8em;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    background-color: transparent;
    outline: none;
    
    padding: 1em 0;
    margin: 1em 0;


}