// De 10-170

.content-page-wrapper {

    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;

    height: calc(100hv - $altura-navbar);

    .right-column {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 100px;

        .contact-bullet-points{

            display: grid;
            grid-template-columns: 1fr;
            align-items: center;

            .icon {

                font-size: 2em;
                color: $teal;

            }

            .text{

                font-size: 1.5em;
                font-weight: 800;
                margin-left: 21px;

            }

        }

    }




}